<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mole_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{57,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,35}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
            <key>mole_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,76},{57,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,35}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
            <key>mole_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{57,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,35}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
            <key>mole_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,39},{57,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,35}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
            <key>mole_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{57,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,35}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
            <key>mole_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{57,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,35}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
            <key>mole_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,35}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
            <key>mole_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,113},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,35}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mole.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:280f90b0796651da0ad4e9335d2f783f:1/1$</string>
            <key>textureFileName</key>
            <string>mole.png</string>
        </dict>
    </dict>
</plist>
